* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  overflow: hidden;
}

.header-left {
  float: left;
  margin-left: 20px;
  padding: 10px;
}

.header-left h1 {
  font-size: 36px;
  margin: 0;
}

.header-right {
  float: right;
  padding: 20px;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  float: left;
}

header .navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
}

header .navbar ul li a:hover {
  color: black;
  background-color: white;
  transition: all 0.1s;
}

.sidebar-left {
  width: 25%;
  float: left;
}

.sidebar-left h3 {
  padding: 20px 25px;
  font-size: 20px;
  color: white;
  background-color: rgba(128, 128, 128, 0.587);
}

.sidebar-left ul {
  list-style: none;
}

.sidebar-left ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 20px 25px;
  display: inline-block;
  width: 100%;
}

.sidebar-left ul li svg {
  margin-right: 10px;
}

.sidebar-left ul li a:hover {
  background-color: #000080;
  color: white;
}

.content {
  width: 75%;
  float: left;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
}

.content h2 {
  color: #333;
  margin-bottom: 15px;
}

.content p {
  margin-bottom: 20px;
}

.footer {
  background-color: #333;
  color: #f4f4f4;
  padding: 30px 20px;
  clear: both;
  height: 175px;
}

.footer-column {
  float: left;
  width: 33%;
  padding-right: 30px;
}

.footer h4 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #f4f4f9;
  text-decoration: underline;
}

.footer .footer-contact {
  font-weight: bold;
  font-style: italic;
}

.footer p,
.footer a {
  color: #ccc;
  margin: 5px 0;
  text-decoration: none;
}

.footer a:hover {
  font-weight: bold;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer li {
  margin-bottom: 8px;
}

.footer li a svg {
  margin-right: 10px;
}
